<div class="content">
    <h1 mat-dialog-title>Nova Consulta</h1>
  
    <div class="selects">
      <div mat-dialog-content>
        <form [formGroup]="criarConsultaForm">
          <mat-form-field appearance="outline" [style.width.px]="400">
            <mat-label>Especialidade</mat-label>
            <mat-select formControlName="especialidade">
              <mat-option
                *ngFor="let especialidade of especialidades"
                [value]="especialidade.id"
              >
                {{ especialidade.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Médico</mat-label>
            <mat-select formControlName="medico" (click)="getMedicos()">
              <mat-option *ngFor="let medico of medicos" [value]="medico.id">
                {{ medico.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Data</mat-label>
            <mat-select
              formControlName="agenda"
              (click)="getAgendasDisponiveis()"
            >
              <mat-option
                *ngFor="let agenda of agendasDisponiveis"
                [value]="agenda.dia"
              >
                {{ agenda.dia | date: "MM/dd/yy" }}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Hora</mat-label>
            <mat-select formControlName="hora" (click)="getHora()">
              <mat-option *ngFor="let hora of horarios" [value]="hora">
                {{ hora }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </div>
  
      <div class="buttons">
        <div mat-dialog-actions>
          <button
            class="light"
            mat-button
            mat-dialog-close
            [style.width.px]="180"
            (click)="cancel()"
          >
            Cancelar
          </button>
        </div>
  
        <div mat-dialog-actions>
          <button
            class="dark"
            mat-button
            color="primary"
            [style.width.px]="180"
            [disabled]="criarConsultaForm.invalid"
            (click)="submitForm()"
          >
            Confirmar
          </button>
        </div>
      </div>
    </div>
  </div>
  