 
<div class="container">
    <div class="header">
        <img mat-card-image src="../../../assets/logo.png"  alt="Intmed Logo"/>
    </div>

    <div class="body">
        <form class="input" [formGroup]="loginForm">
            <mat-form-field class="email" [style.width.px]='400' appearance="outline">
                <mat-label>Email ou Login</mat-label>
                <input 
                type="email" 
                name="username"
                formControlName="username"
                id="username"
                matInput
                required
                #usernameInput
                />

                <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
                    Campo Obrigatório
                </mat-error>

                <mat-error *ngIf="loginForm.get('username')?.hasError('minlength')">
                    O Campo deve ter pelo menos 5 caracteres.
                  </mat-error>
          
                  <mat-error *ngIf="loginForm.get('username')?.hasError('maxlength')">
                    O Campo pode ter até no máximo 150 caracteres.
                  </mat-error>
            </mat-form-field>

            <mat-form-field
            class="password"
            [style.width.px]="400"
            appearance="outline"
          >


          <mat-label>Senha</mat-label>
          <input
            type="password"
            name="password"
            formControlName="password"
            id="password"
            matInput
            [type]="hide ? 'password' : 'text'"
            required
            minlength="8"
            #passwordInput
          />
  
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            Senha obrigatória.
          </mat-error>
  
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
            A senha deve ter pelo menos 8 caracteres.
          </mat-error>
  
          <mat-error *ngIf="loginForm.get('password')?.hasError('maxlength')">
            A senha pode ter até no máximo 40 caracteres.
          </mat-error>
          </mat-form-field>
        </form> 


        <div class="checkbox">
            <mat-checkbox class="remember-password">Lembrar Senha</mat-checkbox>
          </div>
      
          <div class="buttons">
            <button
              type="button"
              mat-flat-button
              class="light"
              [style.width.px]="180"
              [routerLink]="['/register']"
            >
              Criar Conta
            </button>
            <button
              type="submit"
              mat-flat-button
              class="dark"
              color="primary"
              [style.width.px]="180"
              [disabled]="loginForm.pristine || loginForm.invalid"
              (click)="submitLogin()"
            >
              Acessar
        </button>
    </div>
  </div>
</div>
